
/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container2 {
  width: 80%;
  margin: 0 auto; /* Center the container */
  

}

.CSCB20{
  padding-right: 50px;
  font-size: large;
  align-items: flex-start;
  font-weight: bold;
  color: white;
}
.container {
  width: 80%;
  margin: 0 auto; /* Center the container */
  display: flex;
}
.container_nav{
width: 80%;
margin: 0 auto; /* Center the container */
}

.container3 {
width: 100%;
margin: 0 auto; /* Center the container */
display: flex;

}

.navbar {
background-color: #000000;
color: #fff;
padding: 10px 0;
display: flex;
width: 100%;
}

.navbar ul {
list-style-type: none;
padding: 0;
text-align: center;
display: flex;
justify-content: space-between;
}

.navbar ul li {
display: inline-block;
margin-right: 20px;
text-align: center;
}

.navbar ul li:last-child {
margin-right: 0; /* Remove margin from the last list item */
}

.navbar ul li a {
text-decoration: none;
color: #fff;
}

.navbar ul li a:hover {
text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Add some space between navbar and table */
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

td a {
  text-decoration: none;
  color: #007bff;
}

td a:hover {
  text-decoration: underline;
}



/*For the card */
.card {
  width: 80vw;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.card2 {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.card-content p {
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3c4ae5;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #3136c9;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}


.footerlink {
color: #d9d9d9;
}

.image-container {
  opacity: 0; /* Initially invisible */
  animation: fadeIn 3s ease forwards; /* Animation name, duration, easing, and forwards to keep the final state */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with opacity 1 */
  }
}

.fade-in-text {
  font-family: Arial;
  font-size: 10em;
  animation: fadeInIMG 5s;
}

@keyframes fadeInIMG {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.responsive-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}

.container .half {
  flex: 1;
  padding: 7%;
  
}

.text-with-padding {
padding: 5%; 
}



form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select,
input[type="text"],
input[type="email"],
textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}