{% extends "layout.html" %} 

{% block content %}

    <!--For the cards-->
    <div id="fade-in-page" class="fade-in-page">
      <main class="container">
      <div class="card">
        
  
        <div class="card-content">
          
          <h2>Assignment 1</h2>
          <h3 style="color: red;">Deadline: 14 March 2024</h3>
          <p>In team of 3, you are in position of SQL developer team to write up a set of RA and SQL queries that satisfy the given requirements. The query are designed to test the understanding of RA and SQL queries using different operators</p>
          <a href="{{url_for('instructor_A1_grades')}}" class="button">Learn More</a>
          
        </div>
      </div>


      <div class="card">
        
        <div class="card-content">
          <h2>Assignment 2</h2>
          <h3 style="color: red;">Deadline: 17 March 2024</h3>
          <p>In team of 3, develop  a redesign of the course website using the knowledge of HTML and CSS. The website must be responsive in both desktop and mobile devices. Requirement includes 10 user stories mock-up, HTML, CSS code and a python flask file that satisfies the given string character requirements.</p>
          <a href="{{url_for('instructor_A2_grades')}}" class="button">Learn More</a>

        </div>
      </div>
    
      <div class="card">
        
        <div class="card-content">
          <h2>Assignment 3</h2>
          <h3 style="color: red;">Deadline: 29 March 2024</h3>
          <p>In this assignment, you will continue working on your CSCB20 course website from assignment2. However, in this assignment 3, you must also use JavaScript, SQLite, and Flask.</p>
          <a href="{{url_for('instructor_A3_grades')}}" class="button">Learn More</a>
        </div>
      </div>
    </main>
    </div>
    
{% endblock content %}