{% extends "layout.html" %}
{% block content %}

<div id="fade-in-page" class="fade-in-page">
    <main class="container">
      <h1>Calendar</h1>
    <div class="card">
      
      <div class="card-content">
        
        <p>All the weekly tutorials, office hours, lectures and exam schedules can be found in the calendar below.</p>
      </div>
      <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=UTC&bgcolor=%23ffffff&src=YmI1YzM2NGMxZmE1ZWFkOGI0MjQ3NmEzZDhhYTZmZGE1NGM0ZDI3MDAwMjQ0OWYwYzE0MTNiMTA3YjE2MzYzZUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%238E24AA"  width="100%" height="600" frameborder="0" scrolling="no"></iframe>
  </main>



  </div>
  

{% endblock content %}