{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="image-container">
      <img
        src="{{ url_for('static', filename='images/homePage.gif') }}"
        class="responsive-image"
      />
    </div>

    <div class="fade-in-text"><p>CSCB20</p></div>
  </div>
  <div style="background-color: rgb(66, 133, 244)">
    <div class="container" style="background-color: rgb(66, 133, 244)">
      <div class="half">
        <div class="card2" style="background-color: #ffffff">
          <div class="card-content">
            <h2>Syllabus</h2>
            <p>A handy general outline</p>
            <a
              href="https://www.utsc.utoronto.ca/~bretscher/b20/assignments.html"
              class="button"
              >Learn More</a
            >
          </div>
        </div>

        <div class="card2" style="background-color: #ffffff">
          <div class="card-content">
            <h2>Announcements</h2>
            <p>Recent Information</p>
            <a
              href="https://www.utsc.utoronto.ca/~bretscher/b20/assignments.html"
              class="button"
              >Learn More</a
            >
          </div>
        </div>
      </div>
      <div
        class="half"
        style="
          font-family: Arial, sans-serif;
          color: #ffffff;
          line-height: 1.3;
        "
      >
        <h1>Course Description</h1>
        Welcome to the course website of CSCB20: Introduction to Web and
        Databases. A practical introduction to databases and Web app
        development. Databases: terminology and applications; creating,
        querying and updating databases; the entity-relationship model for
        database design. Web documents and applications: static and
        interactive documents; Web servers and dynamic server-generated
        content; Web application development and interface with databases.
      </div>
    </div>
  </div>
{% endblock content %}