{% extends "layout.html" %}
{% block content %}

<div id="fade-in-page" class="fade-in-page">
    <main class="container">
        <h1>Tutorial Exercises</h1>
        <h2>This section contains the tutorial exercises.

        </h2>
        <h2>Tutorials are held every week. The first tutorial week is week 2. Please make use of this valuable resource!</h2>
        <table>
            <thead>
                <tr>
                    <th>Week</th>
                    <th>Labs</th>
                    <th>Solutions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2</td>
                    <td><a href="images/relational.pdf" download>Week2_lab</a></td>
                    <td><a href="images/relational.pdf" download>Week2_soln</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><a href="images/relational.pdf" download>Week3_lab</a></td>
                    <td><a href="images/relational.pdf" download>Week3_soln</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><a href="images/relational.pdf" download>Week4_lab</a></td>
                    <td><a href="images/relational.pdf" download>Week4_soln</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><a href="images/relational.pdf" download>Week5_lab</a></td>
                    <td><a href="images/relational.pdf" download>Week5_soln</a></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td><a href="images/relational.pdf" download>Week6_lab</a></td>
                    <td><a href="images/relational.pdf" download>Week6_soln</a></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td><a href="images/relational.pdf" download>Week7_lab</a></td>
                    <td><a href="images/relational.pdf" download>Week7_soln</a></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td><a href="images/relational.pdf" download>Week8_lab</a></td>
                    <td><a href="images/relational.pdf" download>Week8_soln</a></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td><a href="images/relational.pdf" download>Week9_lab</a></td>
                    <td><a href="images/relational.pdf" download>Week9_soln</a></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td><a href="images/relational.pdf" download>Week10_lab</a></td>
                    <td><a href="images/relational.pdf" download>Week10_soln</a></td>
                </tr>
            </tbody>
        </table>
    </main>
</div>

{% endblock content %}