<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weekly Lecture Slides</title>
    <link rel="stylesheet" href="static/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Fjalla One"
      rel="stylesheet"
    />
    <script
      src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
      type="module"
    ></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="container_nav">
        <ul>
          <div class="CSCB20">CSCB20</div>
          <li><a href="index.html">Home</a></li>
          <li><a href="assignments.html">Assignments</a></li>
          <li><a href="calendar.html">Calendar</a></li>
          <li><a href="lectures.html">Lecture</a></li>
          <li><a href="labs.html">Labs</a></li>
          <li><a href="resources.html">Resources</a></li>
          <li><a href="coursePage.html">Course Team</a></li>
          <li><a href="feedback.html">Feedback</a></li>
        </ul>
      </div>
    </nav>
   
    {% block content %}
    {% endblock %}

    <footer class="footer">
      <p>
        <strong>CSCB20</strong>,Introduction to Web &amp; Databases,Site
        Designed by <strong>Delvin</strong> &amp; <strong>Shawn</strong> &amp;
        <strong>Zacky</strong
        ><a class="footerlink" href="http://web.cs.toronto.edu/"
          >, Department of Computer Science at U of T</a
        >
      </p>
    </footer>
  </body>
</html>
