<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weekly Lecture Slides</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Fjalla One"
      rel="stylesheet"
    />
    <script
      src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
      type="module"
    ></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="container_nav">
        <ul>
          <div class="CSCB20">CSCB20</div>
          <li><a href="{{url_for('home')}}">Home</a></li>

          {% if session.name %}


          <li><a href="calendar.html">Calendar</a></li>
          <li><a href="lectures.html">Lecture</a></li>
          <li><a href="labs.html">Labs</a></li>
          <li><a href="resources.html">Resources</a></li>
          <li><a href="coursePage.html">Course Team</a></li>


          {% if session.userType == 'Instructor'%}
          <li><a href="{{url_for('assignments_instructor')}}">Assignments</a></li>
          {% else %}
          <li><a href="{{url_for('assignments_student')}}">Assignments</a></li>
          {% endif %}

          <li><a href="{{url_for('logout')}}">Log Out</a></li>

          {% else %}

          <li><a href="{{url_for('register')}}">Register</a></li>
          <li><a href="{{url_for('login')}}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    {% block content %} {% endblock %}

    <footer class="footer">
      <p>
        <strong>CSCB20</strong>,Introduction to Web &amp; Databases,Site
        Designed by <strong>Delvin</strong> &amp; <strong>Shawn</strong> &amp;
        <strong>Zacky</strong
        ><a class="footerlink" href="http://web.cs.toronto.edu/"
          >, Department of Computer Science at U of T</a
        >
      </p>
    </footer>
  </body>
</html>
