{% extends "layout.html" %}
{% block content %}

<div id="fade-in-page" class="fade-in-page">
    <main class="container">
        <h1>Weekly Lecture Slides</h1>
        <table>
            <thead>
                <tr>
                    <th>Week</th>
                    <th>Topic</th>
                    <th>Reading</th>
                    <th>Lecture Material</th>
                    <th>In Class</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Introduction, Databases background</td>
                    <td></td>
                    <td><a href="images/w1.pdf" download>Week1_slides</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Schema Diagrams, Relational Algebra</td>
                    <td></td>
                    <td><a href="images/w1.pdf" download>Week2_slides</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>SQL and MySQL</td>
                    <td></td>
                    <td><a href="w1.pdf" download>Week3_slides</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>MySQL Queries, Creating and Editing Tables</td>
                    <td></td>
                    <td><a href="images/w1.pdf" download>Week4_slides</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>MySQL Outer Joins, Views, NULL, string functions, HTML</td>
                    <td></td>
                    <td><a hhref="images/w1.pdf" download>Week5_slides</a></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>HTML, CSS</td>
                    <td></td>
                    <td><a href="images/w1.pdf" download>Week6_slides</a></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>PHP</td>
                    <td></td>
                    <td><a href="images/w1.pdf" download>Week7_slides</a></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>PHP and SQL</td>
                    <td></td>
                    <td><a href="images/w1.pdf" download>Week8_slides</a></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>JavaScript and jQuery</td>
                    <td></td>
                    <td><a href="images/w1.pdf" download>Week9_slides</a></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>jQuery, AJAX, JSON</td>
                    <td></td>
                    <td><a href="images/w1.pdf" download>Week10_slides</a></td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Last Year's Final</td>
                    <td></td>
                    <td><a href="images/w1.pdf" download>W16 Final</a></td>
                </tr>
            </tbody>
        </table>
    </main>
</div>

{% endblock content %}