{% extends "layout.html" %} {% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/register.css') }}"
/>
<div class="form-container">
  <form id="registerForm" action="http://127.0.0.1:5000/auth/login" method = "post">
    <h2 style="text-align: center;">Login</h2>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
    </div>
    <div class="form-group">
      <label for="password">Confirm Password:</label>
      <input type="password" id="password" name="password" required />
    </div>
    <div class="custom-select">
      <label for="userType">Choose user type:</label>
      <select id="userType" name="userType">
        <option value="student">Student</option>
        <option value="instructor">Instructor</option>
        </select
      ><br /><br />
    </div>
    <div class="form-group">
      <button type="submit">Register</button>
    </div>
    <div class="form-group">
      <div class="login-link">Already have an account? <a href = "http://127.0.0.1:5000/auth/login">Log In</a></div>
    </div>
  </form>
</div>
<script src="script.js"></script>
{% endblock content %}
