{% extends "layout.html" %} {% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/register.css') }}"
/>

{% with messages = get_flashed_messages(with_categories = True) %}
    {% if messages %}
    <div class = "flash">
        {% for category, message in messages %}
        <strong>{{ category }}</strong> - {{ message }}
        {% endfor %}
    </div>
    {% endif %}
  {% endwith %}

<div class="form-container">
  <form id="registerForm" action="http://127.0.0.1:5000/register" method="post">
    <h2 style="text-align: center">Register</h2>
    <div class="form-group">
      <label for="name">Username:</label>
      <input type="text" id="Username" name="Username" required />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="Email" name="Email" required />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="Password" name="Password" required />
    </div>
    <div class="form-group">
      <label for="password">Confirm Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" required />
    </div>
    <div class="custom-select">
      <label for="userType">Choose user type:</label>
      <select id="userType" name="userType">
        <option value="Student">Student</option>
        <option value="Instructor">Instructor</option></select
      ><br /><br />
    </div>
    <div class="form-group">
      <button type="submit">Register</button>
    </div>
    <div class="form-group">
      <div class="login-link">
        Already have an account?
        <a href="http://127.0.0.1:5000/login">Log In</a>
      </div>
    </div>
  </form>
</div>

{% endblock content %}
