{% extends "layout.html" %}

{% block content %}
<body>

    <h1>Hi</h1>

    <table>
        <thead>
            <tr>
                <th>Assignment Title</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% for grade in assignments_query %}
            <tr>
                <td>{{ grade.assignment.title }}</td>
                <td>{{ grade.result }}</td>
                <td>
                    <a href="http://127.0.0.1:5000/regrade/{{grade.assignment_id}}">
                        <button >Regrade</button>
                    </a>
                    
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

</body>
{% endblock content %}