{% extends "layout.html" %}

{% block content %}
<body>

    <h1>Assignments</h1>

    <table style="min-height: 80vh;">
        <thead>
            <tr>
                <th>Assignment Title</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% for grade in assignments_query %}
            <tr>
                <td>{{ grade.assignment.title }}</td>
                <td>{{ grade.result }}</td>
                <td>
                    <button class="button">
                        <a href="http://127.0.0.1:5000/regrade/{{grade.assignment_id}}" style="color: white">
                            regrade 
                        </a>
                    </button>
                    
                    
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

</body>
{% endblock content %}